<div class="container">
    
<ion-item class="">
    <ion-card href="#" class="card1x">
        <img class="icn" src="../../../../assets/light_bulb.png" />
        <ion-card-header>
            <ion-card-subtitle>Light Bulb</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status
        </ion-card-content>
    </ion-card>
</ion-item>

<ion-item >
    <ion-card href="#" class="card1x">
        <img class="icn" src="../../../../assets/thermometer.png" />
        <ion-card-header>
            <ion-card-subtitle>Thermometer</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status
        </ion-card-content>
    </ion-card>  
</ion-item>

<ion-item >
    <ion-card href="#" class="card1x">
        <img class="icn" src="../../../../assets/fan.png" />
        <ion-card-header>
            <ion-card-subtitle>Fan</ion-card-subtitle>
            <ion-card-title>Dining Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status
        </ion-card-content>
    </ion-card>  
</ion-item>

</div>