.card1x {
    max-width: 200px;
    text-align: center;
    align-self: center;
    padding: 0;
}

.icn{
    padding: 10px;
}

.container {
    display:grid;
    grid-template-columns: 200px 200px;
    grid-gap: 5px;
}

.item-inner{
    padding: 0px;
}