<div class="container">
    
<ion-item class="card1x">
    <ion-card href="#">
        <img src="../../../../assets/light_bulb.png" />
        <ion-card-header>
            <ion-card-subtitle>Light Bulb</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status
        </ion-card-content>
    </ion-card>
</ion-item>

<ion-item class="card1x">
    <ion-card href="#">
        <img src="../../../../assets/thermometer.png" />
        <ion-card-header>
            <ion-card-subtitle>Thermometer</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status
        </ion-card-content>
    </ion-card>  
</ion-item>

</div>