<div class="container">
    
<ion-item class="">
    <ion-card href="#" class="card1x" (click)="changeBulbColor()">
        <ion-icon class="icon" name="bulb" id="bulb"></ion-icon>
        <ion-card-header>
            <ion-card-subtitle>Light Bulb</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Status: <span *ngIf="bulb">OFF</span><span *ngIf="!bulb">ON</span>
        </ion-card-content>
    </ion-card>
</ion-item>

<ion-item >
    <ion-card href="#" class="card1x">
        <ion-icon class="icon" name="thermometer-outline"  style="color: red;"></ion-icon>
        <ion-card-header>
            <ion-card-subtitle>Thermometer</ion-card-subtitle>
            <ion-card-title>Living Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Temperature: <span id="temp" name="name">{{currTemp}}</span>
        </ion-card-content>
    </ion-card>  
</ion-item>

<ion-item   >
    <ion-card href="#" class="card1x">
        <ion-icon class="icon"  id="motion" name="walk-outline"></ion-icon>
        <ion-card-header>
            <ion-card-subtitle>Motion Sensor</ion-card-subtitle>
            <ion-card-title>Dining Room</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Motion: {{!fmotion}}
        </ion-card-content>
    </ion-card>  
</ion-item>

</div>